@media	screen and (max-device-width: 1024px) and (orientation:portrait) {
	#myCanvas {
		max-width: 100%;
        height: auto;

	}
	.ui-widget-header{
		max-width: 100%;
	}
	.progress-label {
	 	max-width: 100%;
	 }
}
/*
	Defines the criteria of the max. 480px wide mobiles' landscape mode and sets the image slider dimensions and centering according to it.
*/
@media	screen and (max-device-width: 480px) and (orientation:landscape),
				screen and (-webkit-min-device-pixel-ratio: 2) and (orientation:landscape) {
	#myCanvas{
		max-width: 100%;
        height: auto;

	}
	.ui-widget-header{
		max-width: 100%;
	}
	.progress-label {
	 	max-width: 100%;
	 }
}
/*
	Defines the criteria of the max. 480px wide mobiles' portrait mode and sets the image slider dimensions and centering according to it.
*/
@media	screen and (max-device-width: 480px) and (orientation:portrait),
				screen and (-webkit-min-device-pixel-ratio: 2) and (orientation:portrait) {
	#myCanvas {
		max-width: 100%;
        height: auto;

	}
	.ui-widget-header{
		max-width: 100%;
	}
	 .progress-label {
	 	max-width: 100%;
	 }
}
.ui-widget-header {
        background-image: none !important;
        background-color: #0099FF !important;

　		margin-top: -30px;
    }
  .progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
  }
#myCanvas {
	top:50%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 600px;
}
#leftArrow{
position: absolute;

margin-left:50px;
width: 0;
height: 0;
border-style: solid;
border-width: 25px 50px 25px 0;
border-color: transparent #0099ff transparent transparent;
}
#rightArrow{
position: absolute;

margin-left:150px;
width: 0;
height: 0;
border-style: solid;
border-width: 25px 0 25px 50px;
border-color: transparent transparent transparent #0099ff;
}
#upArrow{
position: absolute;
margin-top:-50px;
margin-left:100px;
width: 0;
height: 0;
border-style: solid;
border-width: 0 25px 50px 25px;
border-color: transparent transparent #0099ff transparent;

}

#downArrow{
	position: absolute;
margin-top:50px;
margin-left:100px;
width: 0;
height: 0;
border-style: solid;
border-width: 50px 25px 0 25px;
border-color: #0099ff transparent transparent transparent;


}